<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>

    <h2 class="title">List Users</h2>

    <table>
        <thead>
            <tr>
                <th class="tableHead">ID</th>
                <th class="tableHead">Mail</th>
                <th class="tableHead">Name</th>
                <th class="tableHead">City</th>
            </tr>
        </thead>
        <tr class="tableRow">
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>Ho Chi Minh</td>
        </tr>
        <tr class="tableRow">
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>Ho Chi Minh</td>
        </tr>
        <tr class="tableRow">
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>Ho Chi Minh</td>
        </tr>
        <tr class="tableRow">
            <td>Bo</td>
            <td>Nilson</td>
            <td>35</td>
            <td>Ho Chi Minh</td>
        </tr>
    </table>
</body>

</html>