<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
</head>

<body>
    hello word with ejs and kietpt
    <div>
        <img class="kiet_picture" src="images/kietliu.jpg" alt="test-picture" />
    </div>
</body>

</html>